/* CREATE REACT APP CSS */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM CSS */

html {
  font-size: 1em;
}

label {
  display: inherit;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  padding: 5%;
}

.nav-container {
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.page-container {
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: inline;
}

.card-top, .card-main {
  text-align: center;
  border: 1px solid #ddd;
  max-width: 35em;
  min-width: 15em;
}

.card-top {
  padding: 10px;
  background: #eee;
  margin-bottom: -1px;
}

.card-main {
  display: flex;
  padding: 5%
}

.card-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 25%;
}

.card-content-right {
  display: inline-block;
  width: 65%;
  border-left: 1px solid #ddd;
  padding-left: 2.5%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

/* .nav li:first-child {
  padding-left: 30px;
} */

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 4rem;
  border-radius: 2rem;
  margin-right: 10%;
  vertical-align: super;
}

.tabBtn {
  display: inline-flex;
  justify-content: center;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  outline: none;
  width: 50%;
}

.activeBtn {
  border-bottom: 3px solid #ddd
}

.tabList {
  border-bottom: 1px solid #ddd;
  margin: 0 10px;
}

.timestamp {
  color: #969696;
  font-size: 11px;
}

.btn {
  /* text-transform: uppercase; */
  margin: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #fff;
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.poll-text {
  padding: 0px 10px 10px 10px;
}

.option-text {
  margin: 10px;
  padding: 5px;
}

.option-text-one {
  background: rgba(255, 99, 132, 0.1);
  box-shadow: 0 0 3px 3px rgba(255, 99, 132, 0.1);
}

.option-text-two {
  background: rgba(54, 162, 235, 0.1);
  box-shadow: 0 0 3px 3px rgba(54, 162, 235, 0.1);
}

/* COPY PASTA FOR FUTURE USE */

.content-toggle {
  border: 1px solid #ccc;
  margin: 10px 0;
  background: #fff;
}

.content-toggle-summary {
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px;
  font: inherit;
  border-bottom: solid 1px transparent;
}
.content-toggle-summary:before {
  display: inline-block;
  width: 1em;
  content: "▸";
}
.content-toggle-summary-open:before {
  content: "▾";
}

.content-toggle-details {
  padding: 0 10px;
}


/* RADIO BUTTON SOURCE: http://www.tipue.com/blog/radio-checkbox/ */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 6px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 2px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #f1f1f1;
}
label {
  cursor: pointer;
} 
