/* CREATE REACT APP CSS */

body, select {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM CSS */

html {
  font-size: 1em;
  background: #f1f1f1;
}

h3 {
  margin: 0 0 0.5em 0;
}

label {
  display: inherit;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1% 3%;
}

.nav-container {
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.page-container {
  max-width: 35em;
  text-align: center;
  margin: 0 auto;
}

.card-container {
  display: inline;
}

.card-top, .card-main {
  text-align: center;
  border: 2px solid #666;  
  max-width: 35em;
  min-width: 15em;
}

.card-top {
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: -1px;
  border-bottom: none;
}

.card-main {
  display: flex;
  padding: 5%
}

.card-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 25%;
}

.card-content-right {
  display: inline-block;
  width: 65%;
  border-left: 2px solid #666;
  padding-left: 2.5%;
}

.card-content-full {
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li {
  display: inline-flex;
  justify-content: center;
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  outline: none;
  font-weight: 500;
  border: 2px solid #666;
}

.nav ul li:nth-child(1) {
  width: 33%;
  margin-right: -2px;
}

.nav ul li:nth-child(2) {
  width: 34%;
}

.nav ul li:nth-child(3) {
  width: 33%;
  margin-left: -2px;
}

.nav ul li:nth-child(1):hover, .nav ul li:nth-child(2):hover, .nav ul li:nth-child(3):hover {
  box-shadow: inset 0px 1px 1px 1px #666;
}

.nav li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.nav li > a.active {
  background: #f7f7f7;
  box-shadow: inset 0px 1px 1px 1px #666;
}

/* .nav li:first-child {
  padding-left: 30px;
} */

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ul.questions-list li {
  padding: 10px 0px;
}

.avatar {
  height: 3em;
  border-radius: 2em;
  margin-right: 10%;
  vertical-align: super;
}

.tabList {
  display: flex;
  margin-top: 30px;
}

.tabBtn {
  display: inline-flex;
  justify-content: center;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  outline: none;
  width: 50%;
  border: 2px solid #666;
}

.tabList button:nth-child(2) {
  margin-left: -2px;
}

.tabList button:nth-child(1).activeBtn, .tabList button:nth-child(1):hover, .tabList button:nth-child(1):active {
  box-shadow: inset 1px 1px 1px 1px #666;
}

.tabList button:nth-child(2).activeBtn, .tabList button:nth-child(2):hover, .tabList button:nth-child(2):active {
  box-shadow: inset -1px 1px 1px 1px #666;
}

.timestamp {
  color: #969696;
  font-size: 11px;
}

.btn {
  margin: 10px;
  padding: 5px;
  border: 1px solid #666;
  cursor: pointer;
  background: #fff;
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.btn[type='submit']:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.btn:hover {
  box-shadow: inset 0px 1px 1px 1px #666;
  border: 1px solid #666;
}

.poll-text {
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
}

.option-text {
  margin: 10px;
  padding: 5px;
}

.option-text input[type="text"] {
  width: 200px;
}

.option-text-one {
  background: rgba(255, 99, 132, 0.1);
  box-shadow: 0 0 3px 3px rgba(255, 99, 132, 0.1);
}

.option-text-two {
  background: rgba(54, 162, 235, 0.1);
  box-shadow: 0 0 3px 3px rgba(54, 162, 235, 0.1);
}

.select-login-picker {
  border: none;
  border-radius: 0;
  background: #fff;
  min-width: 20em;
  height: 2.5em;
}

/* COPY PASTA FOR FUTURE USE */

.content-toggle {
  border: 1px solid #ccc;
  margin: 10px 0;
  background: #fff;
}

.content-toggle-summary {
  cursor: pointer;
  border: none;
  background: inherit;
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px;
  font: inherit;
  border-bottom: solid 1px transparent;
}
.content-toggle-summary:before {
  display: inline-block;
  width: 1em;
  content: "▸";
}
.content-toggle-summary-open:before {
  content: "▾";
}

.content-toggle-details {
  padding: 0 10px;
}

.option-number {
  border: 1px solid;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  font-size: 10px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

/* RADIO BUTTON SOURCE: http://www.tipue.com/blog/radio-checkbox/ */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f7f7f7;
  color: #666;
  top: 6px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 2px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #fff;
}

.form-radio:checked {
  background-color: #f1f1f1;
}
label {
  cursor: pointer;
} 
